* {
    font-family: 'Roboto';
    font-weight: 500;
}

.content {
    /* background: #333745; */
    width: 100%;
    height: auto;
}

.content-timer {
    display: flex;
    justify-content: center;
    border-radius: 5%;
}

.content-h,
.content-m,
.content-s {
    width: 100%;
    height: auto;
    margin: 30px;
}

.little-time div{
    color: #fbe200f7;
}

.time {
    font-size: 436px;
    color: #13ff3bf7;
    text-align: center;
}

/* .time span {
    font-size: 110px;
    color: blanchedalmond;
    font-weight: 300;
} */

.content-btn {
    text-align: center;
}

.content-btn button {
    font-size: 35px;
    width: 40px;
    margin: 0 8px;
    border-radius: 5px;
    border: none;
    background: #0000;
    color: #EEB902;
}

.content-btn button:hover {
    background: #EEB902;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

.content-btn-action {
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.content-btn-action button {
    font-size: 40px;
    padding: 5px 10px;
    background: black;
    color: #EEB902;
    border: none;
    margin: 2%;
    border-radius: 3px;
}

.content-btn-action button:hover {
    background: #EEB902;
    color: black;
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}


.bg-finished {
    background: #df0404 !important;
    border-radius: 50px;
}

.bg-finished .time {
    color: #fff !important;
}

.msg-finished {
    color: #fff;
    font-size: 120px;
    text-align: center;
}