<div class="msg-finished" *ngIf="finished">
    <h4>TIEMPO FINALIZADO</h4>
</div>
<div class="msg-finished" *ngIf="!finished && littleTime">
    <h4>POCO TIEMPO</h4>
</div>
<div class="content" [class.bg-finished] = "finished === true">
    <div class="content-timer"  [class.little-time] = "littleTime === true">
        <!-- <div class="content-h">
            <div class="time">
                {{ horas | number:'2.0' }}:</div>
            <div class="content-btn" *ngIf="show">
                <button (click)="increment('H')">+</button>
                <button (click)="decrement('H')">-</button>
            </div>
        </div> -->
        <div class="content-timer">
            <div class="content-h">
                <div class="time">{{ minutos | number:'2.0' }}:</div>
                <div class="content-btn" *ngIf="show">
                    <button (click)="increment('M')">+</button>
                    <button (click)="decrement('M')">-</button>
                </div>
            </div>
            <div class="content-timer">
                <div class="content-s">
                    <div class="time">{{ segundos | number:'2.0' }}</div>
                    <div class="content-btn" *ngIf="show">
                        <button (click)="increment('S')">+</button>
                        <button (click)="decrement('S')">-</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-btn-action" *ngIf="show">
        <button type="button" (click)="start()" [disabled]="disabled">&#9658;</button>
        <!-- <button type="button" (click)="stop()">&#9724;</button> -->
        <button type="button" (click)="reset()">&#8635;</button>
    </div>
</div>