* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    /* font-family: 'Times New Roman', Times, serif; */
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}